.timer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer > div{
  width: 100px !important;
  height: 100px !important;
  svg{
    width: 100px !important;
    height: 100px !important;
  }
}