.timer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.timer > div{
  width: 100px !important;
  height: 100px !important;
  svg{
    width: 100px !important;
    height: 100px !important;
  }
}

.Toastify{

  .Toastify__toast{
    height: 70px !important; 

  }
  .Toastify__toast-body{

  height: 100% !important;
  }
  .Toastify__close-button{
    width: 20px !important;
    height: 20px !important;

    svg{
      width: 20px !important;
      height: 20px !important;

    }
  }
}

