.main__test__time {
 display: flex !important;
 justify-content: space-between;
 align-items: center;
  border: 1px solid red;
  width: 200px;

  span {
    width: 50px;
  }

  p {
    animation: effects 1s infinite;
  }
}

@keyframes effects {
  100% {
    color: transparent;
  }
}