.home{
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/img/gul.png'), url('../../assets/img/img-bg.png ');
  background-size: 50%, cover;
  background-repeat: no-repeat;
  background-position:  right -40% center, center;
  backdrop-filter: blur(2px);
  box-shadow: inset 0 -100px 200px rgb(2, 2, 106);
}