.category {
  width: 1200px;
  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
  }
}

.category__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.category__item {
  cursor: pointer;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  width: 281px;
  height: 281px;
  border: 1.70303px solid #B98C48;
  backdrop-filter: blur(4.25758px);
  border-radius: 10px;

  img {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .shadow {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 -200px 30px rgba(59, 24, 85, 0.8);
  }

  p {
    position: absolute;
    bottom: 10px;
    z-index: 3;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 23.8424px;
    line-height: 27px;
    color: white;
  }
}