.login {
  padding-top: 55px;
  width: 600px;
  height: 550px;
  background: linear-gradient(122.18deg, rgba(113, 65, 129, 0.8) 1.31%, rgba(59, 24, 85, 0.8) 99.01%);
  border: 1.70303px solid #B98C48;
  backdrop-filter: blur(4.25758px);
  border-radius: 10px;

  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 49px;
    text-align: center;
    margin-bottom: 130px;
    color: #FFFFFF;
  }

  .form {
    position: relative;
    display: block;
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    input {
      outline: none;
      background: rgba(255, 255, 255, 0.32);
      border: 1.70303px solid #BD00FF;
      backdrop-filter: blur(4.25758px);
      padding: 20px;
      text-align: center;
      border-radius: 10px;
      margin-bottom: 35px;
      color: #fff;
      font-weight: 400;
      font-size: 22px;
      line-height: 25px;

    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input::placeholder {
      color: #c6c5c5;
    }

    button {
      cursor: pointer;
      background: linear-gradient(180deg, #E4C889 0%, #AB7833 100%);
      box-shadow: 0px 4px 20px rgba(199, 129, 255, 0.25);
      border-radius: 10px;
      border: none;
      padding: 17px;
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 31px;
      text-align: center;
      color: #FFFFFF;
    }
  }
}


.warning_diseble{
  display: none;
}

.warning_active{
  color: yellow;
  width: 100%;
  text-align: center;
  transform: translateY(20px);
  animation: warning 0.4s  linear both;
  opacity: 0;
  letter-spacing: 2px;
  font-size: 18px;
  position: absolute;
  left: 10px;
  top: 80px;
}

.warning_active1{
  color: yellow;
  width: 100%;
  text-align: center;
  transform: translateY(20px);
  animation: warning 0.4s  linear both;
  opacity: 0;
  letter-spacing: 2px;
  font-size: 18px;
  position: absolute;
  left: 10px;
  top: 60px;
}



@keyframes warning {
  80%{
    opacity: 0.1;
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}